
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ija_project.iml
*.class
production/
.idea/uiDesigner.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/ant.xml
.idea/compiler.xml
.idea/artifacts/ija_project_jar.xml
